/********** Template CSS **********/
/* CSS HEX */
:root{
    --bossanova: #5f2d67; 
    --wisteria: #9c54a8;
    --trendy-pink: #8f7194;
    --mountain-mist: #98909a;
    --salt-box: #625c64;
    --fedora: #6c626b;
    --dusty-gray: #a4949c; 
    --london-hue: #c9b0d0;
    --prim: #f7f2f7;
    --snuff: #ead3ee;

    --primary-wie: #9c54a8;
    --secondary-wie: #625c64;
    --light-wie: #ead3ee;
    --dark-wie: #5f2d67;

    --white:#ffffff;
    --black: #000000;
}

.bg-dark {
    background-color: var(--dark) !important;
}
.icon-color{
    color: var(--dark) !important;
}


/*** Button ***/
.btn {
    transition: .5s;
    font-weight: 500;
}

.btn-primary,
.btn-outline-primary:hover {
    color: var(--light);
}

.btn-secondary,
.btn-outline-secondary:hover {
    color: var(--dark);
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}
