    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a href="index.html" class="navbar-brand">
            <img src="img/wie/logo-wie2.jpg" width="150" alt="logo wie">
        </a>
          <button type="button" aria-label="hamburger" class="navbar-toggler me-0" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse flex-row-reverse" id="navbarCollapse">
            <div class="navbar-nav"> 
              <a href="index.html" class="nav-item nav-link" active>Home</a>
              <a href="about.html" class="nav-item nav-link">About</a>
              <a href="events.html" class="nav-item nav-link">Events</a>
              <a href="members.html" class="nav-item nav-link">Membership</a>
              <a href="blog.html" class="nav-item nav-link">Blog</a>
              <a href="gallery.html" class="nav-item nav-link">Gallery</a>
              <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown">Others</a>
                <div class="dropdown-menu bg-light rounded-0 rounded-bottom m-0">
                  <a href="faqs.html" class="dropdown-item">FAQs</a>
                  <a href="testimonials.html" class="dropdown-item">Testimonials</a>
                  <a href="sponsors.html" class="dropdown-item">Sponsors</a>
                  <a href="partners.html" class="dropdown-item">Partners</a>
                </div>
              </div>
              <a href="contact.html" class="nav-item nav-link">Contact</a>
            </div>
          </div>
        </div>
      </nav>
    <!-- Navbar End -->