    <!-- Navbar Start -->
        <div class="container-fluid bg-white sticky-top">
            <div class="container">
                <nav class="navbar navbar-expand-lg bg-white navbar-light p-lg-0">
                    <a href="index.html" class="navbar-brand d-lg-none">
                        <!--                    <h1 class="fw-bold m-0">IEEE ENSIT SB</h1>-->
                        <img src="img/logos/ieee%20(3).png" width="150" alt="logo ieee sb">
                    </a>
                    <button type="button" class="navbar-toggler me-0" data-bs-toggle="collapse"
                            data-bs-target="#navbarCollapse" aria-label="btn">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <div class="navbar-nav">
                            <a href="index.html" class="nav-item nav-link ">Home</a>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Alumni</a>
                                <div class="dropdown-menu bg-light rounded-0 rounded-bottom m-0">
                                    <a href="alumni2.html" class="dropdown-item ">2022-2023</a>
                                    <a href="alumni1.html" class="dropdown-item active ">2021-2022</a>
                                </div>
                            </div>
                            <a href="gallery.php" class="nav-item nav-link">Gallery</a>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Chapters</a>
                                <div class="dropdown-menu bg-light rounded-0 rounded-bottom m-0">
                                    <a href="feature.html" class="dropdown-item">CS</a>
                                    <a href="team.html" class="dropdown-item">RAS</a>
                                    <a href="testimonial.html" class="dropdown-item">IAS</a>
                                    <a href="testimonial.html" class="dropdown-item">AESS</a>
                                    <a href="quote.html" class="dropdown-item">PES</a>
                                    <a href="wie.php" class="dropdown-item">WIE</a>
                                </div>
                            </div>
                            <a href="contact.html" class="nav-item nav-link">Contact</a>
                            <a href="about.html" class="nav-item nav-link ">Join Us</a>

                        </div>
                        <div class="ms-auto d-none d-lg-block">
                            <img src="img/logos/ieee%20(3).png" width="150" alt="logo ieee sb">
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    <!-- Navbar End -->
   